<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpotFinder</display-name>
  <welcome-file-list>
    <welcome-file>adminLogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPoliceStation</display-name>
    <servlet-name>AddPoliceStation</servlet-name>
    <servlet-class>com.admin.AddPoliceStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPoliceStation</servlet-name>
    <url-pattern>/AddPoliceStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceLogin</display-name>
    <servlet-name>PoliceLogin</servlet-name>
    <servlet-class>com.police.PoliceLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceLogin</servlet-name>
    <url-pattern>/PoliceLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlackSpot</display-name>
    <servlet-name>AddBlackSpot</servlet-name>
    <servlet-class>com.police.AddBlackSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlackSpot</servlet-name>
    <url-pattern>/AddBlackSpot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegister</display-name>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>com.user.userRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAdminLogin</display-name>
    <servlet-name>NewAdminLogin</servlet-name>
    <servlet-class>com.admin.NewAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdminLogin</servlet-name>
    <url-pattern>/NewAdminLogin</url-pattern>
  </servlet-mapping>
</web-app>